{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Change password
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <form method="post"  class="col-md-8 col-sm-12 postmedia border mb-md-4" >{% csrf_token %}
        <h3 class="text-primary border-bottom">Password Change Form </h3>
        {{ form| crispy }}
        <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary col-md-20">
        </div>
    </form>
{% endblock %}